<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>問題</title>
    <link rel="stylesheet" href="/styles/question_style.css">
</head>
<body>
    <div id="questionContainer">
        <% if (questions.length > 0) { %>
            <div class="question">
                <p class="question_text" id="questionText"><%= questions[0].qText %></p>
            </div>
        <% } %>
    </div>

    <input type="text" id="answerInput">

    <div class="button-container">
        <button id="back_btn" class="back_btn">メニューに戻る</button>
        <button id="next_btn" class="next_btn">次の問題</button>
    </div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const questionContainer = document.getElementById('questionContainer');
        const questionText = document.getElementById('questionText');
        const answerInput = document.getElementById('answerInput');
        const nextBtn = document.getElementById('next_btn');
        const backBtn = document.getElementById('back_btn');

        const questions = <%- JSON.stringify(questions) %>;
        console.log(questions);

        let currentQuestionIndex = 0;
        let correctAnswers = 0;

        nextBtn.addEventListener('click', nextQuestion);
        answerInput.addEventListener('keydown', (event) => {
            if (event.key === 'Enter') {
                answer();
            }
        });

        backBtn.addEventListener('click', () => {
            window.location.href = '/';
        });


        function nextQuestion() {
            currentQuestionIndex++;

            if (currentQuestionIndex >= questions.length) {
                displayResult();
            } else {
                questionText.textContent = questions[currentQuestionIndex].qText;
            }
        }

        function displayResult() {
            questionContainer.style.display = 'none';
            const resultText = document.createElement('h1');
            resultText.textContent = "すべての問題が終了しました。";
            resultText.className = 'resultText';
            document.body.appendChild(resultText);
            answerInput.style.display = 'none';
            nextBtn.style.display = 'none';
            backBtn.style.display = 'none';
            
            const scoreElement = document.createElement('p');
            scoreElement.className = 'resultScore';
            scoreElement.textContent = questions.length + "問中" + "`" + correctAnswers + "`" + "問正解です";
            document.body.appendChild(scoreElement);

            const continueBtn = document.createElement('button');
            continueBtn.textContent = "もう一度";
            continueBtn.className = "continue_btn";
            continueBtn.addEventListener('click', () => {
                resetQuiz();
            });
            document.body.appendChild(continueBtn);

            const resultBackBtn = document.createElement('button');
            resultBackBtn.textContent = "メニューに戻る";
            resultBackBtn.className = "result_back_btn";
            resultBackBtn.addEventListener('click', () => {
                window.location.href = '/';
            });
            document.body.appendChild(resultBackBtn);
        }

        function resetQuiz() {

            currentQuestionIndex = 0;
            correctAnswers = 0;
            answerInput.style.display = 'block';
            answerInput.value = '';
            questionContainer.style.display = 'block';
            questionText.textContent = questions[currentQuestionIndex].qText;

            const resultElements = document.querySelectorAll('.resultText, .resultScore, .continue_btn, .result_back_btn');
            resultElements.forEach(element => element.remove());

            nextBtn.style.display = 'block';
            backBtn.style.display = 'block';
        }

        function answer() {
            const userAnswer = answerInput.value.trim();

            if (userAnswer === String(questions[currentQuestionIndex].qAnswer).trim()) {
                correctAnswers++;
                alert("正解です");
            } else {
                alert("間違った答えです");
            }

            answerInput.value = '';

            nextQuestion();
        }
    });
</script>
</body>
</html>