<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/top_style.css">
</head>
<body>
    <dev class="button-container">
        <a href="/hard" class="hard">hard</a>
        <a href="/normal" class="normal">Normal</a>
        <a href="/easy" class="easy">easy</a>
    </dev>
</body>
</html>