<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/top_style.css">
</head>
<body>
    <div class="button-container">
        <div class="button-row">
            <a href="/hard" class="hard">hard</a>
            <a href="/hardQIndex?table=hardQ" class="hardIndex">問題一覧</a>
        </div>
        <div class="button-row">
            <a href="/normal" class="normal">Normal</a>
            <a href="/normalQIndex?table=normalQ" class="normalIndex">問題一覧</a>
        </div>
        <div class="button-row">
            <a href="/easy" class="easy">easy</a>
            <a href="/easyQIndex?table=easyQ" class="easyIndex">問題一覧</a>
        </div>
    </div>
</body>
</html>
