body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

input{
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 30px;
}

textarea {
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 30px;
    resize: none;
    width: 400px;
    height: 100px;
}

select {
    font-size: 30px;
}

a {
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    text-decoration: none;
    color: white;
    font-size: 32px;
}

.btnContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    gap: 10px;
}