body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#questionContainer {
    margin-bottom: 50px;
    background-color: white;
    color: black;
    padding: 20px; 
    border-radius: 10px;
    max-width: 80%;
    text-align: center;
}

.question_text {
    font-size: 60px;
    margin: 20px 0;
    line-height: 1.5;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

.button-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
}


button {
    padding: 0px 10px;
    font-size: 30px;
    width: 200px;
    text-align: center;
}

.continue_btn {
    padding: 10px 0px;
    margin-bottom: 40px;
}

.resultScore {
    font-size: 60px;
    text-align: center;
}