body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.button-row {
    display: flex;
    gap: 20px;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    font-size: 50px;
}

a:hover {
    background-color: white;
    color: black;
}
